*
{
box-sizing: border-box;
}

body 
{
margin: 0;
}

.header
{
background-color: rgb(80, 108, 247);
padding: 3px;
text-align: center;
}

.menu
{
 overflow: hidden;
 background-color: rgb(241, 105, 105);
}

.menu a
{
 float: left;
 display: block;
 color: rgb(255, 239, 146);
 text-align: center;
 padding: 14px 16px;
 text-decoration: none;
}

.menu a:hover
{
 background-color: #ffffffdd;
 color: rgb(26, 42, 255);
}

.footer
{
background-color: rgb(249, 109, 109);
padding: 1px;
text-align: center;
display: flex;
flex-direction: column;
align-items: center;
}

.footer div 
{
display: flex;
justify-content: center;
align-items: center;
margin-bottom: 10px;
}